.banner {
  position: relative;
  text-align: center;
  margin-bottom: -5px;

  @media screen and (max-width: 600px) {
    margin-bottom: -0.83vw;
  }

  &__container-bg {
    width: 100%;
  }

  &__logo {
    position: absolute;
    width: 100%;
    top: 2%;
    text-align: left;
    color: $black;
    font-size: 1.9rem;
    font-family: $yugo;
    font-weight: $medium;
    padding: 5px 25px;

    @media screen and (max-width: 600px) {
      font-size: 3.16vw;
      padding: 0.83vw 4.16vw;
    }
  }

  &__slant-text {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 3.9rem;
    color: $main-yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
    position: absolute;
    top: 12%;
    left: 3%;
    font-style: italic;
    transform: rotate(-10deg);

    &--2 {
      left: 2%;
    }

    @media screen and (max-width: 600px) {
      font-size: 6.50vw;
    }
  }

  &__text {
    font-family: $mplus;
    font-weight: $extrabold;
    font-size: 6.3rem;
    color: $main-yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
    position: absolute;
    top: 40%;
    left: 10%;

    @media screen and (max-width: 600px) {
      font-size: 10.50vw;
    }
  }
}