.campaign {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
  margin-top: -2px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
    margin-top: -0.33vw;
  }

  &__list {
    background-color: $white;
    position: relative;
  }

  &__title-wrapper {
    background-color: $main-yellow;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 38px;
    border-radius: 20px;
    position: absolute;
    left: 16%;
    padding: 10px 30px;
    top: -3%;

    @media screen and (max-width: 600px) {
      height: 6.33vw;
      border-radius: 3.33vw;
      padding: 1.66vw 5vw;
    }

    p {
      font-family: $mochiy;
      font-weight: $regular;
      color: $white;
      font-size: 2.1rem;

      @media screen and (max-width: 600px) {
        font-size: 3.50vw;
      }
    }
  }

  &__item {
    border: 5px solid $main-yellow;
    display: flex;
    height: 155px;
    padding: 30px 13px;
    margin-bottom: 5px;

    @media screen and (max-width: 600px) {
      height: 25.83vw;
      padding: 5vw 2.16vw;
      margin-bottom: 0.83vw;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__arrow {
    background: url(../image/brown-arrow.svg) no-repeat;
    background-position: center;
    background-size: 100%;
    width: 138px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
      width: 23vw;
      height: 8.33vw;
    }
  }

  &__arrow-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 2.5rem;
    color: $white;

    @media screen and (max-width: 600px) {
      font-size: 4.16vw;
    }
  }

  &__content-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 3.8rem;
    margin-left: 13px;
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: 6vw;
      margin-left: 2.16vw;
    }

    &--with-margin {
      margin-top: -12px;

      @media screen and (max-width: 600px) {
        margin-top: -2vw;
      }
    }

    &--second {
      margin-top: -5px;

      @media screen and (max-width: 600px) {
        margin-top: -0.83vw;
      }
    }
  }

  &__red-text {
    color: #FF3333;
  }

  &__small-text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.5rem;
    margin-left: 27px;
    margin-top: -5px;

    @media screen and (max-width: 600px) {
      font-size: 2.50vw;
      margin-left: 4.50vw;
      margin-top: -0.83vw;
    }
  }

  &__button-wrapper {
    padding: 5px 20px;
    background: $white;

    @media screen and (max-width: 600px) {
      padding: 0.83vw 3.33vw;
    }
  }

  &__button {
    background: url(../image/dark-green-btn.svg) no-repeat;
    background-position: center;
    background-size: 100%;
    border: none;
    width: 100%;
    height: 73px;

    @media screen and (max-width: 600px) {
      height: 12.16vw;
    }

    span {
      font-family: $rounded-mplus;
      font-weight: $extrabold;
      font-size: 2.7rem;
      color: $white;

      @media screen and (max-width: 600px) {
        font-size: 4.50vw;
      }
    }
  }

  &--light {
    .campaign__button-wrapper {
      padding-bottom: 25px;
    }

    .campaign__button {
      background: url(../image/green-btn.svg) no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}