.checkbox {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 10px 30px;
    position: relative;

    @media screen and (max-width: 600px) {
      padding: 1.66vw 5vw;
    }

    @media screen and (max-width: 400px) {
      padding: 1vw 5vw;
    }
  }

  &__green-line {
    position: absolute;
    left: 19%;
    top: 80%;
    width: 355px;

    @media screen and (max-width: 600px) {
      width: 59.16vw;
    }

    img {
      width: 100%;
    }
  }

  &__title {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 3.3rem;
    color: $brown;
    text-align: center;
    line-height: 1.2;

    @media screen and (max-width: 600px) {
      font-size: 5.50vw;
    }
  }

  &__text {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 2.8rem;
    color: $brown;
    margin-bottom: 7px;

    @media screen and (max-width: 600px) {
      font-size: 4.66vw;
      margin-bottom: 1.16vw;
    }

    span {
      margin-left: -12px;
      margin-bottom: 12px;
      font-size: 2.4rem;

      @media screen and (max-width: 600px) {
        margin-left: -2vw;
        margin-bottom: 2vw;
        font-size: 3.8vw;
      }
    }
  }

  &__text-wrapper {
    background-color: $white;
    padding: 25px 15px 25px 39px;

    @media screen and (max-width: 600px) {
      padding: 4.16vw 2.50vw 4.16vw 6.50vw;
    }

    @media screen and (max-width: 400px) {
      padding: 2.16vw 2.5vw 4.16vw 6.5vw;
    }
  }
}