.comments {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 10px;
    position: relative;
    padding: 41px 25px 10px 8px;

    @media screen and (max-width: 600px) {
      padding: 6.83vw 4.167vw 1.66vw 1.33vw;
    }
  }

  &__item {
    margin-bottom: 77px;

    @media screen and (max-width: 600px) {
      margin-bottom: 12.83vw;
    }

    &:nth-child(3) {
      margin-bottom: 93px;

      @media screen and (max-width: 600px) {
        margin-bottom: 13.5vw;
      }
    }

    &:nth-child(4) {
      margin-bottom: 85px;

      @media screen and (max-width: 600px) {
        margin-bottom: 12.16vw;
      }
    }

    &:last-child {
      margin-bottom: 45px;

      @media screen and (max-width: 600px) {
        margin-bottom: 6.50vw;
      }
    }
  }

  &__image {
    width: 135px;
    display: inline-block;

    @media screen and (max-width: 600px) {
      width: 22.50vw;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    width: 385px;
    display: inline-block;
    vertical-align: top;
    margin-left: -6px;

    @media screen and (max-width: 600px) {
      width: 61.16vw;
    }
  }

  &__title {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 3.5rem;
    margin-left: 10px;
    margin-top: -10px;
    color: $brown;

    @media screen and (max-width: 600px) {
      font-size: 5.83vw;
      margin-left: 1.66vw;
      margin-top: -1.66vw;
    }

    @media screen and (max-width: 400px) {
      margin-top: 0;
    }
  }

  &__text {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 1.8rem;
    margin-left: 11px;
    line-height: 2;
    color: $brown;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: justify;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      margin-left: 1.83vw;
    }
  }
}