.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../image/yellow-stripes-bg-footer.png) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 55px;
  margin-top: -7px;

  @media screen and (max-width: 600px) {
    height: 9.16vw;
    margin-top: -0.84vw;
  }

  &__copyright {
    color: $white;
    font-weight: $medium;
    font-size: 2.2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }
}