.header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  height: 105px;
  max-width: 600px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    height: 17.50vw;
  }

  &__text {
    font-weight: $medium;
    font-family: $yugo;
    font-size: $font-20;
    padding: 0 13px;
    margin-top: 25px;
    color: $black;

    @media screen and (max-width: 600px) {
      font-size: 3.3vw;
      padding: 0 2.16vw;
      margin-top: 4.16vw
    }

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      width: 100%;
    }
  }

  &__logo {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 4.5rem;
    margin-top: 25px;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 7.50vw;
      margin-top: -3.33vw;
    }
  }
}