.points {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 10px;
    position: relative;
    padding: 10px 10px 38px;

    @media screen and (max-width: 600px) {
      padding: 1.66vw 5vw;
    }

    @media screen and (max-width: 400px) {
      padding: 1.66vw 1vw;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    @media screen and (max-width: 600px) {
      margin-bottom: 4vw;
    }
  }

  &__number {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $regular;
    font-size: 2.4rem;
    line-height: 1;
    margin-top: -18px;
    background: #FF5E00;
    background: -webkit-repeating-radial-gradient(ellipse farthest-side at bottom center, #FF5E00 6%, #F3A267 95%);
    background: -moz-repeating-radial-gradient(ellipse farthest-side at bottom center, #FF5E00 6%, #F3A267 95%);
    background: repeating-radial-gradient(ellipse farthest-side at bottom center, #FF5E00 6%, #F3A267 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
      margin-top: -3vw;
    }

    span {
      font-size: 5rem;
      margin-left: -10px;

      @media screen and (max-width: 600px) {
        font-size: 8.33vw;
        margin-left: -1.66vw;
      }
    }
  }

  &__title {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 35px;
    margin-top: -10px;
    color: $brown;

    @media screen and (max-width: 600px) {
      font-size: 5.83vw;
      margin-top: -1.66vw;
    }
  }

  &__text {
    font-family: $yumin;
    font-weight: $demibold;
    line-height: 1.7;
    font-size: 22px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: $brown;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }

  &__box {
    height: 290px;
    width: 100%;
    border: 1px solid #B3B3B3;
    margin-top: 18px;

    @media screen and (max-width: 600px) {
      height: 48.33vw;
      margin-top: 3vw;
    }

    @media screen and (max-width: 400px) {
      height: 45.33vw;
    }
  }
}