.pr {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 45px 15px 64px 25px;
    position: relative;
    height: 378px;
    margin-top: -6px;

    @media screen and (max-width: 600px) {
      padding: 7.50vw 2.50vw 10.66vw 4.16vw;
      height: 63vw;
      margin-top: -1vw;
    }

    // @media screen and (max-width: 400px) {
    //   padding: 1vw 5vw;
    // }
  }

  &__box {
    background-color: #DBDCDC;
    height: 100%;
    width: 184px;
    display: inline-block;

    @media screen and (max-width: 600px) {
      width: 30.66vw;
    }
  }

  &__text-container {
    display: inline-block;
    vertical-align: top;
    width: 332px;
    padding-left: 14px;

    @media screen and (max-width: 600px) {
      width: 55.33vw;
      padding-left: 2.33vw;
    }
  }

  &__text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.7rem;
    vertical-align: top;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-align: justify;
    margin-top: -4px;
    line-height: 1.9;

    @media screen and (max-width: 600px) {
      font-size: 2.83vw;
      margin-top: -0.66vw;
    }
  }
}