.qa {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 10px;
    position: relative;
    padding: 28px 26px 10px 15px;

    @media screen and (max-width: 600px) {
      padding: 4.66vw 4.33vw 1.66vw 2.50vw;
    }
  }

  &__item {
    margin-bottom: 54px;

    @media screen and (max-width: 600px) {
      margin-bottom: 9vw;
    }

    &:last-child {
      margin-bottom: 40px;

      @media screen and (max-width: 600px) {
        margin-bottom: 6.66vw;
      }
    }
  }

  &__number {
    width: 75px;
    display: inline-block;
    
    @media screen and (max-width: 600px) {
      width: 12.50vw;
    }
  }

  &__number-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 43px;
    line-height: 1;
    margin-left: 8px;
    margin-top: -3px;
    color: #FBAE17;

    @media screen and (max-width: 600px) {
      font-size: 7.16vw;
      margin-left: 1.33vw;
      margin-top: -0.50vw;
    }
  }

  &__content {
    width: 385px;
    display: inline-block;
    vertical-align: top;
    margin-left: -6px;

    @media screen and (max-width: 600px) {
      width: 61.16vw;
      margin-left: -1vw;
    }
  }

  &__title {
    font-family: $yugo;
    font-weight: $medium;
    color: #FBAE17;
    font-size: 3.5rem;
    margin-left: 10px;
    margin-top: -10px;

    @media screen and (max-width: 600px) {
      font-size: 5.83vw;
      margin-left: 1.66vw;
      margin-top: -1.66vw;
    }
  }

  &__text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.8rem;
    margin-left: 11px;
    line-height: 2;
    color: $brown;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: justify;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      margin-left: 1.83vw;
    }
  }
}