.sns {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 3.33vw;
  }

  &__wrapper {
    background-color: $white;
    padding: 10px 30px;
    position: relative;
    height: 305px;
    margin-top: -6px;

    @media screen and (max-width: 600px) {
      padding: 1.66vw 5vw;
      height: 50.83vw;
      margin-top: -1vw;
    }

    @media screen and (max-width: 400px) {
      padding: 1vw 5vw;
    }
  }
}