//font-size
$font-30: 3rem;
$font-20: 2rem;


//color
$white: #fff;
$black: #000;
$blue: #002368;
$main-yellow: #FBB03B;
$brown: #996633;

//font-weight
$regular: 300;
$medium: 500;
$bold: 700;
$demibold: 600;
$extrabold: 900;


//font face
$yumin: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
$yugo: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$mochiy: 'Mochiy Pop P One', sans-serif;
$mplus: 'M PLUS 1p', sans-serif;
$rounded-mplus: 'M PLUS Rounded 1c', sans-serif;