.campaign.campaign--light
  ul.campaign__list
    .campaign__title-wrapper
      p.campaign__title 〈初回限定〉初回お試しキャンペーン

    li.campaign__item
      .campaign__arrow
        span.campaign__arrow-text 特典１
      .campaign__content
        p.campaign__content-text おすすめ商品
        p.campaign__content-text.campaign__content-text--second
          span.campaign__red-text ５週連続
          | プレゼント
        p.campaign__small-text ＊条件があります。
    
    li.campaign__item
      .campaign__arrow
        span.campaign__arrow-text 特典２
      .campaign__content
        p.campaign__content-text.campaign__content-text--with-margin
          span.campaign__red-text 00% off
        p.campaign__content-text.campaign__content-text--second クーポンプレゼント
        p.campaign__small-text ＊条件があります。
    
    li.campaign__item
      .campaign__arrow
        span.campaign__arrow-text 特典３
      .campaign__content
        p.campaign__content-text.campaign__content-text--with-margin
          span.campaign__red-text 期間限定
        p.campaign__content-text.campaign__content-text--second クーポンプレゼント
        p.campaign__small-text ＊条件があります。
      
  .campaign__button-wrapper
    button.campaign__button
      span 加入お申し込みはこちら
      