.checkbox
  .yellow-title-bg.yellow-title-bg--small

  .checkbox__wrapper
    p.checkbox__title 最近、買い物にいく回数が
      br
      | 増えていませんか？
    
    .checkbox__green-line
      img.checkbox__green-line-img(src="assets/image/green-line.png")

  .checkbox__text-wrapper
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
    
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
    
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
    
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。

    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。