.yellow-title-bg.yellow-title-bg--comments
  p.yellow-title-text.yellow-title-text--points お客さまの声

.comments
  .comments__wrapper
    ul.comments__list
      li.comments__item
        .comments__image
          img(src="assets/image/mother-img.jpg")
        .comments__content
          p.comments__title 見出し入ります。
          p.comments__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.comments__item
        .comments__image
          img(src="assets/image/mother-img.jpg")
        .comments__content
          p.comments__title 見出し入ります。
          p.comments__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.comments__item
        .comments__image
          img(src="assets/image/mother-img.jpg")
        .comments__content
          p.comments__title 見出し入ります。
          p.comments__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.comments__item
        .comments__image
          img(src="assets/image/mother-img.jpg")
        .comments__content
          p.comments__title 見出し入ります。
          p.comments__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.comments__item
        .comments__image
          img(src="assets/image/mother-img.jpg")
        .comments__content
          p.comments__title 見出し入ります。
          p.comments__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。