.yellow-title-bg 
  p.yellow-title-text.yellow-title-text--points efsデリにお任せください！

.points
  .points__wrapper
    ul.points__list
      li.points__item
        p.points__number POINT
          span 1
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 2
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 3
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 4
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 5
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box