.yellow-title-bg
  p.yellow-title-text.yellow-title-text--pr 会社PR欄

.pr
  .pr__wrapper
    .pr__box
    .pr__text-container
      p.pr__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです