.yellow-title-bg
  p.yellow-title-text.yellow-title-text--points よくあるご質問

.qa
  .qa__wrapper
    ul.qa__list
      li.qa__item
        .qa__number
          .qa__number-text Q1
        .qa__content
          p.qa__title 見出し入ります。
          p.qa__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.qa__item
        .qa__number
          .qa__number-text Q2
        .qa__content
          p.qa__title 見出し入ります。
          p.qa__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.qa__item
        .qa__number
          .qa__number-text Q3
        .qa__content
          p.qa__title 見出し入ります。
          p.qa__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
    
      li.qa__item
        .qa__number
          .qa__number-text Q4
        .qa__content
          p.qa__title 見出し入ります。
          p.qa__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。
      
      li.qa__item
        .qa__number
          .qa__number-text Q5
        .qa__content
          p.qa__title 見出し入ります。
          p.qa__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。