doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title Index
  body
    include components/header.pug

    main
      .max-width
        include components/banner.pug
        include components/campaign.pug
        include components/checkbox.pug
        include components/points.pug
        include components/campaign-light-btn.pug
        include components/comments.pug
        include components/video.pug
        include components/qa.pug
        include components/sns.pug
        include components/pr.pug
        include components/campaign-light-btn.pug

    .max-width
      include components/footer.pug
