
<section class="banner">
  <div class="banner__container"><img class="banner__container-bg" src="assets/image/banner.png"/>
    <p class="banner__slant-text">100万世帯に選ばれている</p>
    <p class="banner__slant-text banner__slant-text--2">100万世帯に選ばれている</p>
    <p class="banner__text">efsデイリーデリ</p>
  </div>
</section>
<div class="yellow-title-bg"> 
  <p class="yellow-title-text">もっと気楽に、簡単に<br/>忙しいあなたにピッタリ！</p>
</div>