
<div class="campaign">
  <ul class="campaign__list">
    <div class="campaign__title-wrapper">
      <p class="campaign__title">〈初回限定〉初回お試しキャンペーン</p>
    </div>
    <li class="campaign__item">
      <div class="campaign__arrow"><span class="campaign__arrow-text">特典１</span></div>
      <div class="campaign__content">
        <p class="campaign__content-text">おすすめ商品</p>
        <p class="campaign__content-text campaign__content-text--second"><span class="campaign__red-text">５週連続</span>プレゼント</p>
        <p class="campaign__small-text">＊条件があります。</p>
      </div>
    </li>
    <li class="campaign__item">
      <div class="campaign__arrow"><span class="campaign__arrow-text">特典２</span></div>
      <div class="campaign__content">
        <p class="campaign__content-text campaign__content-text--with-margin"><span class="campaign__red-text">00% off</span></p>
        <p class="campaign__content-text campaign__content-text--second">クーポンプレゼント</p>
        <p class="campaign__small-text">＊条件があります。</p>
      </div>
    </li>
    <li class="campaign__item">
      <div class="campaign__arrow"><span class="campaign__arrow-text">特典３</span></div>
      <div class="campaign__content">
        <p class="campaign__content-text campaign__content-text--with-margin"><span class="campaign__red-text">期間限定</span></p>
        <p class="campaign__content-text campaign__content-text--second">クーポンプレゼント</p>
        <p class="campaign__small-text">＊条件があります。</p>
      </div>
    </li>
  </ul>
  <div class="campaign__button-wrapper">
    <button class="campaign__button"><span>加入お申し込みはこちら</span></button>
  </div>
</div>