@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  color: #1b1311;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 1.6vw;
  }
}

main {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 105px;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .header {
    height: 17.5vw;
  }
}
.header__text {
  font-weight: 500;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
  padding: 0 13px;
  margin-top: 25px;
  color: #000;
}
@media screen and (max-width: 600px) {
  .header__text {
    font-size: 3.3vw;
    padding: 0 2.16vw;
    margin-top: 4.16vw;
  }
}
@media screen and (min-width: 768px) {
  .header__text {
    margin: 0 auto;
    width: 100%;
  }
}
.header__logo {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .header__logo {
    font-size: 7.5vw;
    margin-top: -3.33vw;
  }
}

.banner {
  position: relative;
  text-align: center;
  margin-bottom: -5px;
}
@media screen and (max-width: 600px) {
  .banner {
    margin-bottom: -0.83vw;
  }
}
.banner__container-bg {
  width: 100%;
}
.banner__logo {
  position: absolute;
  width: 100%;
  top: 2%;
  text-align: left;
  color: #000;
  font-size: 1.9rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  padding: 5px 25px;
}
@media screen and (max-width: 600px) {
  .banner__logo {
    font-size: 3.16vw;
    padding: 0.83vw 4.16vw;
  }
}
.banner__slant-text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 3.9rem;
  color: #FBB03B;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  top: 12%;
  left: 3%;
  font-style: italic;
  transform: rotate(-10deg);
}
.banner__slant-text--2 {
  left: 2%;
}
@media screen and (max-width: 600px) {
  .banner__slant-text {
    font-size: 6.5vw;
  }
}
.banner__text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-size: 6.3rem;
  color: #FBB03B;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  top: 40%;
  left: 10%;
}
@media screen and (max-width: 600px) {
  .banner__text {
    font-size: 10.5vw;
  }
}

.campaign {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
  margin-top: -2px;
}
@media screen and (max-width: 600px) {
  .campaign {
    padding: 0 3.33vw;
    margin-top: -0.33vw;
  }
}
.campaign__list {
  background-color: #fff;
  position: relative;
}
.campaign__title-wrapper {
  background-color: #FBB03B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border-radius: 20px;
  position: absolute;
  left: 16%;
  padding: 10px 30px;
  top: -3%;
}
@media screen and (max-width: 600px) {
  .campaign__title-wrapper {
    height: 6.33vw;
    border-radius: 3.33vw;
    padding: 1.66vw 5vw;
  }
}
.campaign__title-wrapper p {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 2.1rem;
}
@media screen and (max-width: 600px) {
  .campaign__title-wrapper p {
    font-size: 3.5vw;
  }
}
.campaign__item {
  border: 5px solid #FBB03B;
  display: flex;
  height: 155px;
  padding: 30px 13px;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .campaign__item {
    height: 25.83vw;
    padding: 5vw 2.16vw;
    margin-bottom: 0.83vw;
  }
}
.campaign__item:last-child {
  margin-bottom: 0;
}
.campaign__arrow {
  background: url(../image/brown-arrow.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 138px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .campaign__arrow {
    width: 23vw;
    height: 8.33vw;
  }
}
.campaign__arrow-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .campaign__arrow-text {
    font-size: 4.16vw;
  }
}
.campaign__content-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  margin-left: 13px;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  .campaign__content-text {
    font-size: 6vw;
    margin-left: 2.16vw;
  }
}
.campaign__content-text--with-margin {
  margin-top: -12px;
}
@media screen and (max-width: 600px) {
  .campaign__content-text--with-margin {
    margin-top: -2vw;
  }
}
.campaign__content-text--second {
  margin-top: -5px;
}
@media screen and (max-width: 600px) {
  .campaign__content-text--second {
    margin-top: -0.83vw;
  }
}
.campaign__red-text {
  color: #FF3333;
}
.campaign__small-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 27px;
  margin-top: -5px;
}
@media screen and (max-width: 600px) {
  .campaign__small-text {
    font-size: 2.5vw;
    margin-left: 4.5vw;
    margin-top: -0.83vw;
  }
}
.campaign__button-wrapper {
  padding: 5px 20px;
  background: #fff;
}
@media screen and (max-width: 600px) {
  .campaign__button-wrapper {
    padding: 0.83vw 3.33vw;
  }
}
.campaign__button {
  background: url(../image/dark-green-btn.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
  width: 100%;
  height: 73px;
}
@media screen and (max-width: 600px) {
  .campaign__button {
    height: 12.16vw;
  }
}
.campaign__button span {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: 2.7rem;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .campaign__button span {
    font-size: 4.5vw;
  }
}
.campaign--light .campaign__button-wrapper {
  padding-bottom: 25px;
}
.campaign--light .campaign__button {
  background: url(../image/green-btn.svg) no-repeat;
  background-position: center;
  background-size: 100%;
}

.checkbox {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .checkbox {
    padding: 0 3.33vw;
  }
}
.checkbox__wrapper {
  background-color: #fff;
  padding: 10px 30px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .checkbox__wrapper {
    padding: 1.66vw 5vw;
  }
}
@media screen and (max-width: 400px) {
  .checkbox__wrapper {
    padding: 1vw 5vw;
  }
}
.checkbox__green-line {
  position: absolute;
  left: 19%;
  top: 80%;
  width: 355px;
}
@media screen and (max-width: 600px) {
  .checkbox__green-line {
    width: 59.16vw;
  }
}
.checkbox__green-line img {
  width: 100%;
}
.checkbox__title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 3.3rem;
  color: #996633;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 600px) {
  .checkbox__title {
    font-size: 5.5vw;
  }
}
.checkbox__text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 2.8rem;
  color: #996633;
  margin-bottom: 7px;
}
@media screen and (max-width: 600px) {
  .checkbox__text {
    font-size: 4.66vw;
    margin-bottom: 1.16vw;
  }
}
.checkbox__text span {
  margin-left: -12px;
  margin-bottom: 12px;
  font-size: 2.4rem;
}
@media screen and (max-width: 600px) {
  .checkbox__text span {
    margin-left: -2vw;
    margin-bottom: 2vw;
    font-size: 3.8vw;
  }
}
.checkbox__text-wrapper {
  background-color: #fff;
  padding: 25px 15px 25px 39px;
}
@media screen and (max-width: 600px) {
  .checkbox__text-wrapper {
    padding: 4.16vw 2.5vw 4.16vw 6.5vw;
  }
}
@media screen and (max-width: 400px) {
  .checkbox__text-wrapper {
    padding: 2.16vw 2.5vw 4.16vw 6.5vw;
  }
}

.points {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .points {
    padding: 0 3.33vw;
  }
}
.points__wrapper {
  background-color: #fff;
  padding: 10px;
  position: relative;
  padding: 10px 10px 38px;
}
@media screen and (max-width: 600px) {
  .points__wrapper {
    padding: 1.66vw 5vw;
  }
}
@media screen and (max-width: 400px) {
  .points__wrapper {
    padding: 1.66vw 1vw;
  }
}
.points__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 600px) {
  .points__item {
    margin-bottom: 4vw;
  }
}
.points__number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1;
  margin-top: -18px;
  background: #FF5E00;
  background: -webkit-repeating-radial-gradient(ellipse farthest-side at bottom center, #FF5E00 6%, #F3A267 95%);
  background: -moz-repeating-radial-gradient(ellipse farthest-side at bottom center, #FF5E00 6%, #F3A267 95%);
  background: repeating-radial-gradient(ellipse farthest-side at bottom center, #FF5E00 6%, #F3A267 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 600px) {
  .points__number {
    font-size: 4vw;
    margin-top: -3vw;
  }
}
.points__number span {
  font-size: 5rem;
  margin-left: -10px;
}
@media screen and (max-width: 600px) {
  .points__number span {
    font-size: 8.33vw;
    margin-left: -1.66vw;
  }
}
.points__title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 35px;
  margin-top: -10px;
  color: #996633;
}
@media screen and (max-width: 600px) {
  .points__title {
    font-size: 5.83vw;
    margin-top: -1.66vw;
  }
}
.points__text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  line-height: 1.7;
  font-size: 22px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #996633;
}
@media screen and (max-width: 600px) {
  .points__text {
    font-size: 3.66vw;
  }
}
.points__box {
  height: 290px;
  width: 100%;
  border: 1px solid #B3B3B3;
  margin-top: 18px;
}
@media screen and (max-width: 600px) {
  .points__box {
    height: 48.33vw;
    margin-top: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .points__box {
    height: 45.33vw;
  }
}

.comments {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .comments {
    padding: 0 3.33vw;
  }
}
.comments__wrapper {
  background-color: #fff;
  padding: 10px;
  position: relative;
  padding: 41px 25px 10px 8px;
}
@media screen and (max-width: 600px) {
  .comments__wrapper {
    padding: 6.83vw 4.167vw 1.66vw 1.33vw;
  }
}
.comments__item {
  margin-bottom: 77px;
}
@media screen and (max-width: 600px) {
  .comments__item {
    margin-bottom: 12.83vw;
  }
}
.comments__item:nth-child(3) {
  margin-bottom: 93px;
}
@media screen and (max-width: 600px) {
  .comments__item:nth-child(3) {
    margin-bottom: 13.5vw;
  }
}
.comments__item:nth-child(4) {
  margin-bottom: 85px;
}
@media screen and (max-width: 600px) {
  .comments__item:nth-child(4) {
    margin-bottom: 12.16vw;
  }
}
.comments__item:last-child {
  margin-bottom: 45px;
}
@media screen and (max-width: 600px) {
  .comments__item:last-child {
    margin-bottom: 6.5vw;
  }
}
.comments__image {
  width: 135px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .comments__image {
    width: 22.5vw;
  }
}
.comments__image img {
  width: 100%;
}
.comments__content {
  width: 385px;
  display: inline-block;
  vertical-align: top;
  margin-left: -6px;
}
@media screen and (max-width: 600px) {
  .comments__content {
    width: 61.16vw;
  }
}
.comments__title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 3.5rem;
  margin-left: 10px;
  margin-top: -10px;
  color: #996633;
}
@media screen and (max-width: 600px) {
  .comments__title {
    font-size: 5.83vw;
    margin-left: 1.66vw;
    margin-top: -1.66vw;
  }
}
@media screen and (max-width: 400px) {
  .comments__title {
    margin-top: 0;
  }
}
.comments__text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 11px;
  line-height: 2;
  color: #996633;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .comments__text {
    font-size: 3vw;
    margin-left: 1.83vw;
  }
}

.video {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .video {
    padding: 0 3.33vw;
  }
}
.video__wrapper {
  background-color: #fff;
  padding: 10px 30px;
  position: relative;
  height: 352px;
  margin-top: -6px;
}
@media screen and (max-width: 600px) {
  .video__wrapper {
    padding: 1.66vw 5vw;
    height: 58.66vw;
    margin-top: -1vw;
  }
}
@media screen and (max-width: 400px) {
  .video__wrapper {
    padding: 1vw 5vw;
  }
}

.qa {
  background: url(../image/yellow-bg-stripes.svg) repeat-y;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .qa {
    padding: 0 3.33vw;
  }
}
.qa__wrapper {
  background-color: #fff;
  padding: 10px;
  position: relative;
  padding: 28px 26px 10px 15px;
}
@media screen and (max-width: 600px) {
  .qa__wrapper {
    padding: 4.66vw 4.33vw 1.66vw 2.5vw;
  }
}
.qa__item {
  margin-bottom: 54px;
}
@media screen and (max-width: 600px) {
  .qa__item {
    margin-bottom: 9vw;
  }
}
.qa__item:last-child {
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .qa__item:last-child {
    margin-bottom: 6.66vw;
  }
}
.qa__number {
  width: 75px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .qa__number {
    width: 12.5vw;
  }
}
.qa__number-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 43px;
  line-height: 1;
  margin-left: 8px;
  margin-top: -3px;
  color: #FBAE17;
}
@media screen and (max-width: 600px) {
  .qa__number-text {
    font-size: 7.16vw;
    margin-left: 1.33vw;
    margin-top: -0.5vw;
  }
}
.qa__content {
  width: 385px;
  display: inline-block;
  vertical-align: top;
  margin-left: -6px;
}
@media screen and (max-width: 600px) {
  .qa__content {
    width: 61.16vw;
    margin-left: -1vw;
  }
}
.qa__title {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  color: #FBAE17;
  font-size: 3.5rem;
  margin-left: 10px;
  margin-top: -10px;
}
@media screen and (max-width: 600px) {
  .qa__title {
    font-size: 5.83vw;
    margin-left: 1.66vw;
    margin-top: -1.66vw;
  }
}
.qa__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-left: 11px;
  line-height: 2;
  color: #996633;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .qa__text {
    font-size: 3vw;
    margin-left: 1.83vw;
  }
}

.sns {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .sns {
    padding: 0 3.33vw;
  }
}
.sns__wrapper {
  background-color: #fff;
  padding: 10px 30px;
  position: relative;
  height: 305px;
  margin-top: -6px;
}
@media screen and (max-width: 600px) {
  .sns__wrapper {
    padding: 1.66vw 5vw;
    height: 50.83vw;
    margin-top: -1vw;
  }
}
@media screen and (max-width: 400px) {
  .sns__wrapper {
    padding: 1vw 5vw;
  }
}

.pr {
  background: url(../image/yellow-bg-stripes.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .pr {
    padding: 0 3.33vw;
  }
}
.pr__wrapper {
  background-color: #fff;
  padding: 45px 15px 64px 25px;
  position: relative;
  height: 378px;
  margin-top: -6px;
}
@media screen and (max-width: 600px) {
  .pr__wrapper {
    padding: 7.5vw 2.5vw 10.66vw 4.16vw;
    height: 63vw;
    margin-top: -1vw;
  }
}
.pr__box {
  background-color: #DBDCDC;
  height: 100%;
  width: 184px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .pr__box {
    width: 30.66vw;
  }
}
.pr__text-container {
  display: inline-block;
  vertical-align: top;
  width: 332px;
  padding-left: 14px;
}
@media screen and (max-width: 600px) {
  .pr__text-container {
    width: 55.33vw;
    padding-left: 2.33vw;
  }
}
.pr__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  vertical-align: top;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  text-align: justify;
  margin-top: -4px;
  line-height: 1.9;
}
@media screen and (max-width: 600px) {
  .pr__text {
    font-size: 2.83vw;
    margin-top: -0.66vw;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../image/yellow-stripes-bg-footer.png) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 55px;
  margin-top: -7px;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 9.16vw;
    margin-top: -0.84vw;
  }
}
.footer__copyright {
  color: #fff;
  font-weight: 500;
  font-size: 2.2rem;
}
@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 3.66vw;
  }
}

.max-width {
  max-width: 600px;
  margin: 0 auto;
}

.p-lr-5 {
  padding: 0 5px;
}
@media screen and (max-width: 600px) {
  .p-lr-5 {
    padding: 0 0.8vw;
  }
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 3.3vw;
  }
}

.yellow-title-bg {
  background: url(../image/yellow-stripes-bg.png) no-repeat;
  background-position: cover;
  background-size: 100%;
}
.yellow-title-bg--small {
  height: 20px;
}
@media screen and (max-width: 600px) {
  .yellow-title-bg--small {
    height: 3.33vw;
  }
}

.yellow-title-text {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 3.1rem;
  font-weight: 300;
  text-align: center;
  color: #996633;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .yellow-title-text {
    font-size: 5.16vw;
    padding-bottom: 3.33vw;
  }
}
.yellow-title-text--points {
  font-size: 4.2rem;
  padding: 18px 0 28px;
}
@media screen and (max-width: 600px) {
  .yellow-title-text--points {
    font-size: 7vw;
    padding: 3vw 0 4.66vw;
  }
}
.yellow-title-text--video {
  padding: 10px;
  font-size: 3.5rem;
  color: #F15A24;
}
@media screen and (max-width: 400px) {
  .yellow-title-text--video {
    padding: 1.66vw;
    font-size: 5.83vw;
  }
}
.yellow-title-text--small {
  font-size: 2.8rem;
  margin-top: -18px;
  color: #F15A24;
}
@media screen and (max-width: 400px) {
  .yellow-title-text--small {
    font-size: 4.66vw;
    margin-top: -3vw;
  }
}
.yellow-title-text--sns {
  padding: 31px 10px;
  font-size: 3.5rem;
  color: #F15A24;
}
@media screen and (max-width: 400px) {
  .yellow-title-text--sns {
    padding: 5.16vw 1.66vw;
    font-size: 5.83vw;
  }
}
.yellow-title-text--pr {
  padding: 29px 10px;
  font-size: 3.5rem;
  color: #996633;
}
@media screen and (max-width: 400px) {
  .yellow-title-text--pr {
    padding: 4.83vw 1.66vw;
    font-size: 5.83vw;
  }
}
