.max-width {
  max-width: 600px;
  margin: 0 auto;
}

.p-lr-5 {
  padding: 0 5px;

  @media screen and (max-width: 600px) {
    padding: 0 0.8vw;
  }
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    margin-bottom: 3.3vw;
  }
}

.yellow-title-bg {
  background: url(../image/yellow-stripes-bg.png) no-repeat;
  background-position: cover;
  background-size: 100%;

  &--small {
    height: 20px;

    @media screen and (max-width: 600px) {
      height: 3.33vw;
    }
  }
}

.yellow-title-text {
  font-family: $mochiy;
  font-size: 3.1rem;
  font-weight: $regular;
  text-align: center;
  color: $brown;
  padding-bottom: 20px;
  
  @media screen and (max-width: 600px) {
    font-size: 5.16vw;
    padding-bottom: 3.33vw;
  }

  &--points {
    font-size: 4.2rem;
    padding: 18px 0 28px;

    @media screen and (max-width: 600px) {
      font-size: 7vw;
      padding: 3vw 0 4.66vw;
    }
  }

  &--video {
    padding: 10px;
    font-size: 3.5rem;
    color: #F15A24;

    @media screen and (max-width: 400px) {
      padding: 1.66vw;
      font-size: 5.83vw;
    }
  }

  &--small {
    font-size: 2.8rem;
    margin-top: -18px;
    color: #F15A24;

    @media screen and (max-width: 400px) {
      font-size: 4.66vw;
      margin-top: -3vw;
    }
  }

  &--sns {
    padding: 31px 10px;
    font-size: 3.5rem;
    color: #F15A24;

    @media screen and (max-width: 400px) {
      padding: 5.16vw 1.66vw;
      font-size: 5.83vw;
    }
  }

  &--pr {
    padding: 29px 10px;
    font-size: 3.5rem;
    color: $brown;

    @media screen and (max-width: 400px) {
      padding: 4.83vw 1.66vw;
      font-size: 5.83vw;
    }
  }
}