@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');


@import 'settings/_settings.scss';
@import 'generic/_normalize.scss';
@import 'elements/_elements.scss';

// components
@import 'components/_header.scss';
@import 'components/_banner.scss';
@import 'components/_campaign.scss';
@import 'components/_checkbox.scss';
@import 'components/_points.scss';
@import 'components/_comments.scss';
@import 'components/_video.scss';
@import 'components/_qa.scss';
@import 'components/_sns.scss';
@import 'components/_pr.scss';
@import 'components/_footer.scss';

//helper
@import '_helper.scss';